

<%= form_with model: @user, local: true, data: {turbo: false}, url: sign_up_path do |form| %>

    <% if @user.errors.any?%>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %> 
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>


       <div class="hero vh-100 d-flex align-items-center hero-sign-up-background">
            <div class="container base-sign-container col-6">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                          <%= image_tag("logo.png", height:120 ) %> 
                    </div>
               

                <div class= "row justify-content-center mt-3">
                    <div class="col-md-8 text-center">
                          <p class="social-sign">Sign-up with Google </p> 
                    </div>
                </div>


                <div class= "row justify-content-center">
                    <div class="col-md-8 text-center">
                          <p class="social-sign">Sign-up with Facebook </p> 
                    </div>
                </div>
                    <hr class="line-divide"%>

                <div class="row">
                    <div class="col-md-12 form-title">
                          <p>  <%= form.label :email%>
                         <%= form.text_field :email, class: "form-control", placeholder: "ecotravel@travel.com" %> </p> 
                    </div>
            
                </div>
                


                 <div class="row">
                    <div class="col-md-12 form-title">
                          <p> <%= form.label :password %>
                             <%= form.password_field :password, class: "form-control", placeholder: "password" %> </p> 
                    </div>
            

                  <div class="row">
                    <div class="col-md-12 form-title">
                          <p>  <%= form.label :confirm_password %>
                          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>  </p> 
                    </div>
            
                </div>

                  <div class="row">
                    <div class="col-md-12 align-items-center form-title">
                          <p class="submit-sign-button">  <%= form.submit "Sign-Up", class: "form-control submit-tag" %> </p> 
                    </div>
            
                </div>

                <div class="row justify-content-center" >

                    <div class="col-md-12">
                         <% flash.each do |name, msg| %>
                     <%= content_tag :div, msg, class: ["name", "text-center", "success-sign-up"] %>
                      <% end -%>
                    </div>
                    </div>
                    


                





                </div>
            </div>

       </div>


        </div>
















<%end%>