<!DOCTYPE html>
<html>
  <head>
    <title>EcoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "my_style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

<!--- HERO -->
<div class="hero vh-100 d-flex align-items-center hero-home-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="display-4"> Find an Greener<br> Way to Travel </h1>
                <p class="text-white my-3 navbar-font">Choose a more sustainable way to make your way and a bit of extra text </p>

                <a href="/journey_calculator" class="btn btn-primary btn-outline-dark ">Carbon Calculator</a>
                <a href="/travel_logs" class="btn btn-outline-light">My Travel Logs</a>
                

            </div>
        </div>

    </div>

</div>









    <%= yield %>

  </body>
</html>
