<p style="color: green"><%= notice %></p>


<div class="hero hero-blog-background-ind vh-100 d-flex align-items-center">
   <div class="container col-12">
      <div class="row">
          <div class="col-md-12 text-center">
                <%= render @travel_log %>
          </div>
      </div>

      <div class="row text-center mt-4">

        <div class="col-md-3 travel-log-navigation">
           <%= link_to "Edit Travel Log", edit_travel_log_path(@travel_log) %>
        </div>

         <div class="col-md-3 travel-log-navigation">
           <%= link_to "Back to Travel Log", travel_logs_path %>
        </div>
        
         <div class="col-md-3 travel-log-navigation">
            <%= button_to "Delete", @travel_log, method: :delete %>
        </div>




      </div>
      
    




   </div>

</div>

















        
         
    













  |
 
     


</div>
