<!DOCTYPE html>
<html>
  <head>
    <title>EcoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "my_style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<!-- NAVIGATION BAR -->
<header>
    <nav class ="navbar sticky-nav navbar-expand-md  navbar-light bg-light ml-3 ">
    <div class="container navbar.center .navbar-inner ">
    <a
     href ="/"
     class="navbar-brand mb-0 h1">
        <%= image_tag("logo.png", height:120 ) %> 
    </a>

  <button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarNav"
   aria-controls="navbarNav"
  aria-expanded="false"
  aria-label="Toggle navigation"
 
 
  >

    <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class= "navbar-nav ms-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">
             Home 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/journey_calculator" class="nav-link">
            Travel Carbon Calculator 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/travel_logs" class="nav-link">
             Travel Logs 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/sign_up" class="btn sign-up-button-home">
              Sign-Up 
            </a>
          </li>
        </ul>
        

    </div>
     </div>

</nav>

</header>

  <body>
    <%= yield %>

  </body>


  <footer>
    <div class="footer-top">
      <div class="container ">
        <div class="row ms-auto">
          

    <div class="col-md-6">
             <h4 class="text-white footer-title">About<h4>
              <p class="footer-text"> This is a little discussion about what the website is about and what
                  the main goals of the company are. It's only here to fill space because I 
                  don't have enough pages to link. This is a little discussion about what the website is about and what
                  the main goals of the company are. It's only here to fill space because I 
                  don't have enough pages to link. This is a little discussion about what the website is about and what
                  the main goals of the company are. It's only here to fill space because I 
                  don't have enough pages to link. This is a little discussion about what the website is about and what
                  the main goals of the company are. It's only here to fill space because I 
                  don't have enough pages to link.</p>
                
           </div>

      
            <div class="col-md-6 text-center">
             <h4 class="text-white footer-title">Contact<h4>
              <ul class="list-unstyled footer-text ">
                <li class="list-margin"> Address: 11 Northumberland Road, Ballsbridge, D04DW27 </li>
                <li class="list-margin"> E-mail: x19219318@student.ncirl.ie </li>
                <li class="list-margin"> Phone: 083-150-8627 </li>
                <br>
                  <a href="https://www.facebook.com"><i class="bi bi-facebook icon-size"></i></a>
                  <a href="https://www.twitter.com"><i class="bi bi-twitter icon-size"></i></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram icon-size"></i></i></a>
                

              </ul>
           </div>




  

      </div>

    </div>

    <div class="footer-bottom py-3">
        <div class="row">
          <div class="col-md-12 footer-text text-center mt-4">
              © 2022 Copyright All Rights Reserved
          </div>
           
        </div>
                
    </div>


          


  </footer>







  
</html>
