<!DOCTYPE html>
<html>
  <head>
    <title>EcoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "my_style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<!-- NAVIGATION BAR -->
<header>
    <nav class ="navbar navbar-expand-md navbar-light bg-light ml-3">
    <div class="container navbar.center .navbar-inner ">
    <a
     href ="/"
     class="navbar-brand mb-0 h1">
        <%= image_tag("logo.png", height:100 ) %> 
    </a>

  <button

  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarNav"
  class="navbar-toggler"
  aria-controls="navbarNav"
  aria-expanded="false"
  aria-label="Toggle navigation"
  >

    <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class= "navbar-nav ms-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">
             Home 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/journey_calculator" class="nav-link">
            Travel Carbon Calculator 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/travel_logs" class="nav-link">
             Travel Diary 
            </a>
          </li>
           <li class="nav-item active">
            <a href="/sign_up" class="btn btn-primary ms-5">
              Sign-Up 
            </a>
          </li>
        </ul>
        

    </div>
     </div>

</nav>




</header>






  <body>
    <%= yield %>

  </body>
</html>
